@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Calculator styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  font-family: 'Quicksand', sans-serif;
  background-color: #B2A4FF;
  text-align: center;
}

.calculator {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4px;
  background-color: #F8F6F4;
}

.display {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 153px;
  border-radius: 5px;
  background-color: #fff;
}

.digit, #clear-display, #equals, #delete {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 5px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #2CD3E1;
  color: black;
  border-radius: 5px;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #fff;
}
